.bienvenue {
  font-family: serif;
  color: #A0522D
}

.explanation {
  font-size: 1.2em;
  font-weight: bold;
}

.indent {
  font-size: 1.0em;
  margin-left: 2em;
  font-weight: normal;
}

#current-letter {
  font-size: 2.0em;
  color: #A0522D;
  font-weight: bold;
}

.for {
  font-size: 2.0em;
  margin-left: 2em;
  font-weight: bold;
}

#word {
  font-size: 2.0em;
  margin-left: 2em;
  font-weight: bold;
}


.for2 {
  font-size: 2.0em;
  font-weight: bold;
}

#result{
  font-size: 4.0em;
  color:#FFA500;
  font-weight: bold;
  margin-left: 2em;
}

.submit {
  margin: auto
}

